.container {
  width: 100%;
  height: 100vh;
}

.main {
  font-size: 48px;
  font-family: monospace;
  width: 100%;
  height: 100vh;
  padding-top: 10px;
  letter-spacing: 0.2em;
  background-color: rgb(215, 247, 215);
  font-weight: bold;
  text-align: center;
}
.buttonArea {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  padding: 1em;
}

.beginner,
.intermediate,
.advanced {
  margin: 15px;
  width: 300px;
  height: 300px;
  padding-bottom: 20px;
  transform: translateY(3px);
}

.beginner {
  background: #cd853f;
}

.intermediate {
  background: silver;
}

.advanced {
  background: gold;
}

.begginerTitle,
.intermediateTitle,
.advancedTitle {
  font-size: 48px;
  padding: 4px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.begginerTitle {
  background: #cd853f;
}

.intermediateTitle {
  background: silver;
}

.advancedTitle {
  background: #ffd700;
}

.buttonBeginner,
.buttonIntermediate,
.buttonAdvanced {
  font-size: 28px;
  padding-top: 30px;
  height: 120px;
  width: 420px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}

.buttonBeginner {
  background: #cd853f;
}

.buttonIntermediate {
  background: silver;
}

.buttonAdvanced {
  background: #ffd900c7;
}
