.container {
  width: 100%;
  height: 100vh;
}

.main {
  font-size: 48px;
  font-family: monospace;
  width: 100%;
  height: 100vh;
  padding-top: 10px;
  letter-spacing: 0.5em;
  background-color: #fcf16e;
  font-weight: bold;
  text-align: center;
}

.boxArea {
  margin: 1em auto;
  background-color: #fcf16e;
}

.titleArea {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.buttonArea {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.button {
  font-size: 48px;
  display: inline-block;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  padding: 1.5rem 3rem;
  color: #fff;
  border-radius: 50px;
  background: #000;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1, 1.1);
}
