.main {
  font-size: 48px;
  text-align: center;
}

.buttonBeginner {
  font-size: 48px;
  height: 120px;
  width: 400px;
  margin: 0 auto;
  margin-top: 8%;
  color: #f0fff6;
  background: #cd853f;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}

.buttonIntermediate {
  font-size: 48px;
  height: 120px;
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  color: aliceblue;
  background: silver;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}

.buttonAdvanced {
  font-size: 48px;
  height: 120px;
  width: 400px;
  margin: 0 auto;
  margin-top: 12%;
  color: aliceblue;
  background: #ffd900c7;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}
